# Node.js dependencies
frontend/node_modules/
backend/node_modules/

# Environment files
frontend/.env
backend/.env

# Logs
logs/
*.log
*.log.*

# OS-specific files
.DS_Store
Thumbs.db

# IDEs and Editors
.vscode/
.idea/

# Build directories
frontend/build/
frontend/dist/
backend/build/
backend/dist/

# Coverage directory for testing
/coverage

# Dependency directories (for yarn, PnP, etc.)
/.pnp
.pnp.js

# Next.js build (if applicable for frontend)
frontend/.next/

# React Native (if applicable)
/android/
/ios/

# Docker (if applicable)
.docker/

# TypeScript (if applicable)
*.tsbuildinfo

# AWS Elastic Beanstalk (if deploying with AWS)
.elasticbeanstalk/

# MongoDB database files (if using local MongoDB)
*.db

# Ignore test-specific files
/karma-debug.log
